.container {
    padding: 30px 8px 5px;
    background: rgb(41, 21, 21);
    position: fixed;
    right: 50px;
    top: 85px;
    border-radius: 10px;
}

.remote-containers div {
    height: 160px;
    width: 120px;
    position: absolute;
    left: 8px;
    top: 25px;
    border: 2px solid #fff;
}

#agora_local {
    height: 330px;
    width: 280px;
    display: inline-block;
    background-color: #fff;
}

.button-section {
    text-align: center;
}

.start-call,
.stop-call,
.close-call {
    background-size: 100% 100%;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.start-call {
    background-image: url('src/assets/images/connectCall.jpg');
}

.stop-call {
    background-image: url('src/assets/images/disconnect.png');
}

.close-call {
    position: absolute;
    right: 0;
    top: 6px;
    background-image: url('src/assets/images/closeCaller.png');
    width: 18px;
    height: 18px;
}

img {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
    width: 100%;
    display: block;
}