<div class="container" *ngIf="showVideo">
    <button class="close-call" (click)="hideCaller()"></button>
    <div id="agora_local">
    </div>
    <div class="remote-containers">
        <div class="remote_calls" *ngFor="let remote of remoteCalls;" [id]="remote">
        </div>
    </div>
    <div class="clear"></div>
    <div class="button-section">
        <button (click)="startCall()" class="start-call"></button>
        <button (click)="closeVideo()" class="stop-call"></button>
        <button (click)="muteUnmute()" class="mute-call">{{mute ? 'unmute':'mute'}}</button>
    </div>
</div>
<img src="../../assets/images/background.jpg">