/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/background.jpg');
    background-size: cover;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        position: absolute !important;
        height: 95% !important;
        width: 100% !important;
        right: 0 !important;
        top: 0 !important;
    }
    #agora_local {
        height: 95% !important;
        width: 100% !important;
    }
}